<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TradingView Chart</title>
  <script src="https://unpkg.com/lightweight-charts@4.2.3/dist/lightweight-charts.standalone.production.js"></script>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1>Stock Chart</h1>
  <div class="chart-controls">
    <button id="M5">M5</button>
    <button id="D1">D1</button>
    <button id="W1">W1</button>
    <button id="MN">MN</button>

  </div>
  <div id="chart-container"></div>
  <script th:src="@{/js/chart.js}"></script>
</body>

</html>